@model IEnumerable<ChatManager.Models.Friendship>

@foreach (var friend in Model)
{
    string c = "unselectedTarget";
    if (Session["idFriendChatting"] != null && friend.targetUserId == (int)Session["idFriendChatting"])
    {
        c = "selectedTarget";
    }
    <div class="@c" userId="@friend.targetUserId">
        @Helper.Image(friend.Avatar, "UserSmallAvatar")
    </div>
}
