@model IEnumerable<ChatManager.Models.Friendship>

@foreach (var item in Model)
{
    @**@
<div class="friendContainer" style="font-size:14px">
    <a>
        <div class="userItem">
            @Helper.Image(item.Avatar, "UserSmallAvatar")

            <div class="ellipsis">@item.fullName</div>
        </div>
    </a>
    @Helper.OnLineStatusIcon(item.Online, item.Blocked)
    @{
        switch (item.friendshipStatus)
        {
            case 0:
                @*Helper.IconConfirmAjaxCmd("Friendships", "AddFriend", "fa-plus-circle green", $"Voulez vous envoyer une demande d'amis à {item.fullName}");*@
                <span onclick="ajaxActionCall("/Friendships/FriendRequest?id=" + @item.targetUserId)">
                    <span class="icon fa fa-plus-circle green"
                          title="Envoyer une demande d'ami'">
                    </span>
                </span>
                break;
            case 1:
                <span onclick="">
                    <span class="icon fa fa-check green"
                          title="Accepter la demande d'ami">
                    </span>
                </span>
                <span onclick="">
                    <span class="icon fa fa-times red"
                          title="refuser la demande d'ami">
                    </span>
                </span>
                break;
            case 2:
                <span>
                    <span class="icon fa fa-clock-o green"
                          title="Demande d'ami en attente">
                    </span>
                </span>
                <span onclick="">
                    <span class="icon fa fa-times red"
                          title="annuler la demande d'ami">
                    </span>
                </span>
                break;
            case 3:
                <span>
                    <span class="icon fa fa-check-circle green"
                          title="Ami">
                    </span>
                </span>
                <span onclick="">
                    <span class="icon fa fa-times red"
                          title="retirer l'ami">
                    </span>
                </span>
                break;
            case 4:
                // clarité
                break;
            case 5:

                break;
            case 6:
                <span>
                    <span class="icon fa fa-ban red"
                          title="Usager bloqué par l'administrateur">
                    </span>
                </span>
                break;
        }
    }
</div>
}


