@model IEnumerable<ChatManager.Models.Friendship>

@foreach (var item in Model)
{
    @**@
<div class="friendContainer" style="font-size:14px">
    <a>
        <div class="userItem">
            @Helper.Image(item.Avatar, "UserSmallAvatar")

            <div class="ellipsis">@item.fullName</div>
        </div>
    </a>
    @Helper.OnLineStatusIcon(item.Online, item.Blocked)
    @{
        switch (item.friendshipStatus)
        {
            case 0:
                @*Helper.IconConfirmAjaxCmd("Friendships", "AddFriend", "fa-plus-circle green", $"Voulez vous envoyer une demande d'amis à {item.fullName}");*@
                <span onclick="">
                    <span class="icon fa fa-plus-circle green"
                        title="Envoyer une demande d'ami'">
                    </span>
                </span>
                break;
            }
        }
</div>
}


