@model ChatManager.Models.Friendship

@{
    ViewBag.Title = "Gestion des amis";
}

<h2>Gestion des amitiés</h2>
<div class="main">
    <div id="FriendsContainer" class="FriendsContainer"> <!-- Refreshed periodically --> </div>
</div>

@section Scripts {
    
    <script defer>
        @*PartialRefresh.setTimeOutPage("@Url.Action("End","Session")");*@
        let friends = new PartialRefresh("@Url.Action("Friends", "Friendships")", "FriendsContainer", 10);
        function ajaxActionCall(actionLink) {
            // Ajax Action Call to actionLink
            $.ajax({
                url: actionLink,
                method: 'GET',
                success: () => {
                    friends.refresh(true)
                }
            });
        }

    </script>
}